:root {
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --fourth-text-color: #2196f3;
  --primary-title-color: #212121;
  --second-title-color: #ffffff;
  --primary-text-font: "Roboto";
  --second-text-font: "Raleway";
}

body {
  font-family: var(--primary-text-font), sans-serif;
  color: var(--primary-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  display: inline-block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  background: var(--fourth-text-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-btn {
  padding: 10px 32px;
  border-radius: 4px;
}

.btn:hover,
.btn:focus {
  background: #188ce8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-section {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-section .container {
  display: flex;
  align-items: center;
}

/* Лого */
.logo-link {
  font-family: var(--second-text-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--fourth-text-color);
}

header .logo-link {
  margin-right: 93px;
}

.logo-text {
  color: var(--primary-text-color);
}

.logo-text-white {
  color: var(--third-text-color);
}

/* Навигация */
.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.nav-link.nav-link-active,
.nav-link:hover,
.nav-link:focus {
  color: var(--fourth-text-color);
}

/* Контакты */
.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--fourth-text-color);
}

.contact-list {
  display: flex;
  margin-left: auto;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

/* hero */
.hero-section {
  background: #2f303a;
  padding: 200px 0;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-title-color);
  width: 696px;
  margin: 0 auto 30px;
}

/* Наши сильные стороны*/

.advantage-list {
  display: flex;
}
.advantage-item:not(:last-child) {
  margin-right: 30px;
}

.advantage-item {
  flex-basis: calc(100% / 4 - 30px);
}

.advantage-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  margin-bottom: 10px;
}

.advantage-text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/* Чем мы занимаемся */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  margin-bottom: 50px;
}

.example-section {
  padding-top: 0;
}

.example-list {
  display: flex;
}

.example-item:not(:last-child) {
  margin-right: 30px;
}

.example-item {
  flex-basis: calc(100% / 3 - 30px);
}

/* Наша команда */

.team-list {
  display: flex;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc(100% / 4 - 30px);
}

.description {
  text-align: center;
  padding: 30px 0;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/* Портфолио */
.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background: #f5f4fa;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
}

.filter-btn:hover,
.filter-btn:focus,
.filter-btn.active {
  background: var(--fourth-text-color);
  color: var(--third-text-color);
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.portfolio-item {
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.portfolio-description {
  padding: 20px 24px;
  border: solid #eeeeee;
  border-width: 0 1px 1px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/* footer */
.footer {
  background-color: var(--primary-text-color);
  color: var(--third-text-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer address {
  font-style: normal;
}

.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.adress-item {
  margin-bottom: 9px;
}

.footer .contact-link {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

footer .logo-link {
  display: inline-block;
  margin-bottom: 20px;
}

.footer .contact-link:hover,
.footer .contact-link:focus {
  color: var(--fourth-text-color);
}
